 body{
     background-color: rgb(10, 255, 161);

 }

.jpg{
    size: 12px;
}
.png{
    justify-content: center;
}
.h1{
    background-color: blue;
}
.hhh{
    color: blue;
}
.button{
    color: blue;
}